### Secrets
token.json
.env

### System Files
.DS_Store

### Python
venv
*checkpoint.ipynb

### Misc
getting_started_command.sh
sync_to_other_cluster.sh
logs

### Data
data/**/*.TIF
data/**/*.tar
data/**/*.txt
data/**/*.xml
data/**/*.json
data/**/*.jpeg
data/**/*.cog
data/**/*.IMD
data/**/*.car
data/**/*.manifest