### Secrets
token.json
.env
.cer
### System Files
.DS_Store

### Python
venv
.venv
*checkpoint.ipynb
.ipynb_checkpoints
__pycache__

### Misc
getting_started_command.sh
sync_to_other_cluster.sh
logs

### Data
data/*

### Singularity
database
instance.txt

# mypy
.mypy_cache
.dmypy.json
dmypy.json

# Ruff
.ruff_cache
