black # formatting
browser-cookie3
fiona
flake8 # for linting
folium
geopandas
matplotlib
numpy
mapclassify # Used for geoDataFrame.explore()
pandas 
planetary-computer
pre-commit # Used for pre-commit hooks
pyproj
pystac-client
python-dotenv # Used for .env file
requests
rich[jupyter]
rtree
scipy # KDtree
shapely
wheel